[core]
    pager = delta

[delta]
    syntax-theme = Nord
    navigate = true
    side-by-side = true

[ghq]
    root = ~/src
    root = ~/go/src

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[user]
    name = {{ .name }}
    email = {{ .email }}

[rebase]
    autostash = true
