tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "coreutils"
brew "asdf"
brew "curl"
brew "fd"
brew "fzf"
brew "gh"
brew "ghq"
brew "git"
brew "git-delta"
brew "gnupg"
brew "jq"
brew "mas"
brew "neovim"
brew "ripgrep"
brew "sd"
brew "starship"
brew "tmux"
brew "tree"
brew "unzip"
brew "zsh"
brew "coursier/formulas/coursier"
brew "hashicorp/tap/terraform-ls"
brew "jesseduffield/lazygit/lazygit"
brew "qmk/qmk/qmk"
cask "docker"
cask "firefox"
cask "firefox-developer-edition"
cask "font-noto-sans"
cask "font-noto-sans-cjk-jp"
cask "font-noto-serif"
cask "font-ubuntu-mono-nerd-font"
cask "google-chrome"
cask "google-chrome-canary"
cask "iterm2"
cask "karabiner-elements"
cask "visual-studio-code"
mas "1Password 7", id: 1333542190
mas "Grammary for Safari", id: 1462114288
mas "Kindle", id: 405399194
mas "Magnet", id: 441258766
mas "Slack", id: 803453959
mas "Vimari", id: 1480933944
mas "Xcode", id: 497799835
{{ if eq .profile "home" -}}
brew "mosh"
cask "adobe-creative-cloud"
cask "discord"
cask "kindle-previewer"
mas "Affinity Publisher", id: 881418622
mas "Prime Video", id: 545519333
{{ end -}}
{{ if eq .profile "work" -}}
brew "awscli"
brew "docker-credential-helper-ecr"
brew "git-lfs"
brew "grpc"
brew "stern"
cask "sequel-pro"
{{ end -}}
