#!/bin/bash

plugins=(direnv eksctl golang helm java kubectl minikube rust sbt scala skaffold terraform)

direnv=2.23.0
eksctl=0.29.2
golang=1.15.2
helm=3.3.4
java=corretto-11.0.8.10.1
kubectl=1.19.2
minikube=1.14.2
rust=1.47.0
sbt=1.4.1
scala=2.13.3
skaffold=1.16.0
terraform=0.12.26

for e in ${plugins[@]}; do
  asdf plugin-add $e
  asdf install $e ${!e}
  asdf global $e ${!e}
done

nodejs=14.14.0

asdf plugin-add nodejs
bash -c '${ASDF_DATA_DIR:=$HOME/.asdf}/plugins/nodejs/bin/import-release-team-keyring'
asdf install nodejs $nodejs
asdf global nodejs $nodejs

python2=2.7.15
python3=3.9.0

asdf plugin-add python
asdf install python $python2
asdf install python $python3
asdf global python $python3 $python2

{{ if eq .chezmoi.os "darwin" -}}
. $(brew --prefix asdf)/asdf.sh
{{ end -}}

python3 -m pip install --user pynvim
python3 -m pip install --user pipx
python3 -m pipx ensurepath
pipx install virtualenv
