theme "catppuccin-frappe"

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    normal clear-defaults=true {
        bind "Ctrl ;" { SwitchToMode "Tmux"; }
        // bind "Alt n" { NewPane; }
        // bind "Alt i" { MoveTab "Left"; }
        // bind "Alt o" { MoveTab "Right"; }
        // bind "Alt Left" { MoveFocusOrTab "Left"; }
        // bind "Alt Right" { MoveFocusOrTab "Right"; }
        // bind "Alt Down" { MoveFocus "Down"; }
        // bind "Alt Up" { MoveFocus "Up"; }
        // bind "Alt =" "Alt +" { Resize "Increase"; }
        // bind "Alt -" { Resize "Decrease"; }
        // bind "Alt [" { PreviousSwapLayout; }
        // bind "Alt ]" { NextSwapLayout; }
        bind "Super c" { Copy; }
        bind "Super w" { CloseTab; }
        bind "Super t" { NewTab; }
    }
    tmux {
        unbind "Ctrl b"
        unbind "\""
        unbind "%"
        bind "Ctrl t" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl h" { SwitchToMode "Move"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "q" { Quit; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "|" { NewPane "Right"; SwitchToMode "Normal"; }
    }
}

default_shell "fish"

// macOS specific
copy_command "pbcopy"
copy_on_select false

