[tools]
"npm:@commitlint/cli" = "latest"
"npm:@github/copilot" = "latest"
"npm:textlint" = "latest"
"npm:textlint-rule-preset-ja-technical-writing" = "latest"
"npm:textlint-rule-preset-jtf-style" = "latest"
biome = "latest"
buf = "latest"
chezmoi = "latest"
claude-code = "latest"
codex = "latest"
delta = "latest"
deno = "latest"
direnv = "latest"
fd = "latest"
fzf = "latest"
gemini-cli = "latest"
ghq = "latest"
git-lfs = "latest"
github-cli = "latest"
go = "latest"
java = "corretto-11"
jq = "latest"
krew = "latest"
kubectl = "latest"
lazydocker = "latest"
lazygit = "latest"
lima = "latest"
minikube = "latest"
neovim = "latest"
node = "latest"
python = "latest"
ripgrep = "latest"
ruff = "latest"
rust = "latest"
sd = "latest"
terraform = "latest"
tflint = "latest"
uv = "latest"
vale = "latest"

[settings]
disable_backends = ["asdf"]
experimental = true
legacy_version_file = true
idiomatic_version_file_enable_tools = ["terraform"]
pipx.uvx = true
node.compile = false

[tasks.setup]
run = ["mise install", "mise run setup-coursier", "mise run update"]

[tasks.setup-coursier]
run = [
  "if [[ ! -d ~/.local/share/coursier/bin ]]; then mkdir -p ~/.local/share/coursier/bin; fi",
  "curl -fL https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-apple-darwin.gz | gzip -d > /tmp/cs",
  "chmod +x /tmp/cs",
  "/tmp/cs setup --install-dir ~/.local/share/coursier/bin",
]

[tasks.update]
run = [
  "brew upgrade",
  "fish -c 'fisher update'",
  "mise upgrade",
  "mise run install-npm",
  "mise run install-pip",
  "mise run install-cargo",
  "mise run install-coursier",
  "mise prune -y",
]

[tasks.install-npm]
run = ["npm install -g @commitlint/config-conventional commitlint-format-json"]

[tasks.install-pip]
run = ["uv pip install --system --upgrade neovim"]

[tasks.install-cargo]
run = ["rustup component add rust-analyzer"]

[tasks.install-coursier]
run = ["cs install metals", "cs update"]
